.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 3rem;
  background-color: #000000;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar-links li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-links li:hover {
  color: #666;
}

.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}


@media (max-width: 768px) {
  .navbar {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  .navbar-logo {
    font-size: 1.2rem;
    flex-shrink: 0; /* Prevent logo from shrinking */
    white-space: nowrap;
  }

  .navbar-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: transparent;
    padding: 0;
    position: static;
  }

  .navbar-links li {
    padding: 0;
    text-align: right;
  }

  .menu-toggle {
    display: none;
  }
}
