.skills-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 1rem;
  width: 90%;
  max-width: 800px;
  margin: 2rem auto;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  color: #333;
}


.skills-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.skill-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.skill-icon {
  font-size: 1.5rem;
}

.skill-name {
  width: 150px;
  font-weight: bold;
}

.progress-bar {
  background-color: #e0e0e0;
  height: 10px;
  flex-grow: 1;
  border-radius: 5px;
  overflow: hidden;
}

.progress-fill {
  background: linear-gradient(90deg, #4b6cb7, #182848);
  height: 100%;
  transition: width 0.5s ease;
}

.skill-percentage {
  margin-left: 0.5rem;
  font-weight: bold;
  color: #333;
}
